/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
/* .card-list{
  max-width: 1200px;
}
@media (max-width:320px){
  .App{
    width: 320px;
    margin-left:20%
  }
  .card-list{
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }
} */